<form class="modal-content animate">
  <div class="imgcontainer">

  </div>

  <div class="container" style="text-align: center">
      
      <table class="container">
          <tbody>
            <tr>
              <td>
                Username:<span>*</span>
              </td>
              <td>
                  <input type="email" placeholder="Enter Username" name="uname" required>
              </td>
            </tr>
            <tr>
                <td>
                 Password:<span>*</span>
                </td>
                <td>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                </td>
              </tr>
              <tr>
                  
                  <td>
                        
                      <button type="button" (click)="sendMeHome()">login</button>
                  </td>
                </tr>
                </tbody>
                </table>
                </div>
                </form>
                
                


    
    
 