
    <form class="modal-content animate">
      <div class="imgcontainer">
    <table class="container">
        <tbody>
          <tr>
            <td>
              E-Mail Address<span>*</span>
            </td>
            <td>
              <input type="email" name="email" value="" required maxlength="254" />
            </td>
          </tr>
          <tr>
            <td>
              First Name<span>*</span>
            </td>
            <td>
              <input type="text" name="firstname" value="" required maxlength="100" />
            </td>
          </tr>
          <tr>
            <td>
              Last Name<span>*</span>
            </td>
            <td>
              <input type="text" name="lastname" value="" required maxlength="100" />
            </td>
          </tr>
          <tr>
            <td>
              Cell Phone<span>*</span>
            </td>
            <td>
              <input type="number" name="phone" value="" required placeholder="111-111-1111" maxlength="30" />
            </td>
          </tr>
          <tr>
              <td>
                  Username<span>*</span>
              </td>
              <td>
                  <input type="email" placeholder="Enter Username" name="uname" required>
              </td>
            </tr>
            <tr>
                <td>
                    Password<span>*</span>
                </td>
                <td>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                </td>
              </tr>
              <tr>
                  <td>
                      Re-Password<span>*</span>
                  </td>
                  <td>
                      <input type="password" placeholder="Enter Password" name="psw" required>
                  </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" (click)="sendMeHome()">New Employee</button>
                    </td>
                  </tr>
        </tbody>
      </table>
  </div>
  </form>